body{
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
img{
    margin-top: 20px;
}
img.desktop{
    width: 100%;
}
img.phone{
    height: 817px;
}
h1{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}