body {
  background-color: rgb(0, 0, 0);
  padding: 70px;

  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
  margin-bottom: 100px;
}
.logo{
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title{
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.sub-title{
  color: rgb(255, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.scene-1 {
  height: 1800px;
}

.scene-2 {
  height: 3100px;
}

.empty-space {
  padding-top: 350px;
}

.column-left {
  float: left;
  width: 33.33%;
  height: 400px;
}

.column-right {
  float: right;
  width: 33.33%;
  height: 400px;
}
.row{
  /* height: 500px; */
  padding: 30px;
}
.row:after {
  float: none;
  width: 100%;
 
  padding: 40px;
  content: none;
  display: contents;
  clear: both;
}

.space-between-scenes {
  display: block;
  width: 100%;
  height: 150px;
  /* background-color: aqua; */

}

p {
  padding: 20px;
  margin: 5px;

}

.dialog {
  margin-top: 130px !important;
  padding-top: 1000px;
  margin: 80px auto;
  border-radius: 5px;
  background: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.dialog.left {
  margin-left: -100px;
}

.dialog.right {
  margin-right: -100px;
}

.dialog.right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid white;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.dialog.left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.name-left{
  margin-left: 60px;
  margin-top: 0px;
  
}
.name-right{
  margin-right: 130px;
  margin-top: 20px;
}

.name-right.dana{
  margin-right: 80px;
}
.name-right.peter{
  margin-right: 60px;
}
.picture {
  height: 300px;
  border-radius: 500px;
  border: 2px solid rgb(255, 0, 0);
}

.pic-right {
  float: right;
}

.pic-left{
  -webkit-transform: scaleX(-1);
  scale: scaleX(-1);
}

.pic-mayor{
  -webkit-transform: scaleX(-1);
  scale: scaleX(-1)
}


