.full-screen{
    width: 100%;
}

.square{
    object-position: left center;
    object-fit: cover;
    width: 280px; 
    height: 280px;
}
.background-image-example{
    background-image: url(http://wudesign.me/resources/using-images/images/shelf-cloud-vertical.jpg);
    background-size: cover;
    background-position: center 20%;

    padding: 10% 5% 45% 40%;
}